<section class="hero">
  <div class="container">
    
    <!--Glow effect container -->
    <div class="hero-right">
</div>

    <div class="hero-content">

      <!-- SOCIAL ICONS TOP RIGHT -->
      <div class="hero-social">
        <a href="https://github.com/Ajayvwarrier" target="_blank">
          <i class="fab fa-github"></i>
        </a>

        <a href="https://www.linkedin.com/in/ajay-v-warrier-bay/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>

        <a href="mailto:warrierajay99@gmail.com">
          <i class="fas fa-envelope"></i>
        </a>

        <a href="https://www.instagram.com/_imajay._v._" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>

        <a href="https://wa.me/919400734219" target="_blank">
          <i class="fab fa-whatsapp"></i>
        </a>
      </div>

      <div class="badge"> Developer</div>

      <h1 class="hero-title">
        Hello, I'm <span class="highlight">AJAY V WARRIER</span>
        <span class="wave">👋</span>
      </h1>

      <p class="hero-subtitle">Dot Net & Angular Developer</p>